.site-contact {
    background: url('../../img/start2.jpeg') center/cover no-repeat;
    height: 80vh;
    position: relative;

    &__h2 {
        position: absolute;
        width: 50%;
    }


    &__form {
        position: absolute;
        left: 20%;
        width: 50%;
        bottom: 30%;
       
    }
}


