.site-contact {
    background: url('../../img/start2.jpeg') center/cover no-repeat;
    height: 80vh;
    position: relative;

    &__h2 {
        position: absolute;
        width: 50%;
    }


    &__form {
        position: absolute;
        width: 40%;
        margin: 0 auto;
        text-align: center;
        left: 45%;
        bottom: 30%;
    }
}


